<% layout('layout/boilerplate') %> 

<h1><%= camp.title.toUpperCase() %> </h1>
<h2><%= camp.location %> </h2>
<img src="<%= camp.image %> " alt="">
<p><%= camp.description %> </p>
<a href="/campgrounds/<%= camp._id %>/editcamp "><button>Edit Camp</button></a>
<form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
    <button>DELETE</button>
</form>
